<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Journey Details</h5>
                <div class="card-body">
                    <div class="card-text">
                        <p class="text-warning fw-bold">{{ticketDetail[0].from}} TO {{ticketDetail[0].to}}</p>
                        <p>Coach Type: {{ticketDetail[0].type}}</p>
                        <p>Seat(<span class="text-warning">{{selectedSeats}}</span>)</p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>